00-Original/** filter=lfs diff=lfs merge=lfs -text
01-AIPS/** filter=lfs diff=lfs merge=lfs -text
02-Output/** filter=lfs diff=lfs merge=lfs -text
03-Ae/** filter=lfs diff=lfs merge=lfs -text
04-C4D/** filter=lfs diff=lfs merge=lfs -text